<center><h1>Bienvenue sur le site de VEG TIME</h1></center>

<p>Restaurant crée en 2022, présents dans 10 villes françaises et bientôt de nouvelles ouvertures sont planifiées pour vous faire découvrir une variété de plats vegs.
   Venez découvrir des entrées au goûts délicats et authentiques, des plats célèbres comme le ” Briyani ” ou le fameux ” Fried Rice ” accompagné de son riz basmati.  Les plats variés, aux couleurs chatoyantes, comme la ” Paelle  ” ou le ” Couscous “, surprendront votre palais.
</p>

<%= image_tag "home.jpg", :size => "1535x450" %>

<footer class=" text-white text-center text-lg-start">

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #6CA960">
    © 2022 Copyright : Designed by Stéphane SELVATHASAN
    <a class="text-white">Projet Ruby on Rails</a>
  </div>
  <!-- Copyright -->
</footer>